body {
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

#chatbox {
  height:300px;
  background:black;
  margin:20px;
  padding:10px;
  overflow:auto;
}

input {
  padding:10px;
  width:60%;
}

button {
  padding:10px;
}
